* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
}

nav.menu-nav {
    width: 100%;
    height: 100px;
    background-color: #e1e1e1;
}

nav.menu-nav ul li.btn {
    list-style-type: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

nav.menu-nav ul li.btn a {
    display: block;
    text-decoration: none;
    color: #1e1e1e;
    font-size: 20px;
    font-family: 'Arial';
    padding: 0 20px;
}

nav.menu-nav ul li.btn:hover a {
    color: white;
    background-color: #1e1e1e;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Arial';
    transition: 0.5s all;
}

nav.menu-nav a img.img-discord {
    width: 50px;
    float: right;
    padding-right: 30px;
    padding-top: 25px;
}

div.Tome1 img.tome1 {
    width: 30%;
    margin-top: 19px;
    margin-left: 150px;
    float: center;
}

div.Tome1 h1 {
    color: white;
    margin-top: 10px;
    margin-left: 300px;
}